<p id="notice"><%= notice %></p>

<p>
  <strong>Brewery:</strong>
  <%= @brewery.brewery_id %>
</p>

<p>
  <strong>Brewery name:</strong>
  <%= @brewery.brewery_name %>
</p>

<p>
  <strong>Brewery city:</strong>
  <%= @brewery.brewery_city %>
</p>

<p>
  <strong>Brewery state:</strong>
  <%= @brewery.brewery_state %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @brewery.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @brewery.lng %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
